@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
body{
    display: flex;
    justify-content: center;
    font-size: 16px;
    background:rgb(163, 153, 152);
}
.container{
    width: 500px;
    margin-top: 150px;
    padding: 20px;
}
.container .time{
    color: #fff;
    font-weight: 600;
    text-align: center;
    box-sizing: border-box;
    font-variant-numeric: tabular-nums;
    font-size: 3rem;
}
.time .dakika,.saniye{
    margin: 0 5px;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
.buttons{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    justify-content: center;
}
.buttons .btn{
    margin: 0 10px;
}